@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+AU+QLD:wght@100..400&display=swap');
 #body {
     box-sizing: border-box;
     background-color: bisque;
     position: relative;
 }

 #cookie-div {
     /* position: absolute; */
     /* translate: 30% 50%; */
     /* border: 2px solid black; */
     width: 800px;
     height: 300px;
     margin: 10% auto;
     z-index: 1;
 }

 #cookie-1 {
     display: block;
     margin: auto;
     width: 400px;
     height: 300px;
     /* position: absolute; */
     /* top: 22%; */
 }

 /*
#cookie-up{

    width: 200px;
    height: 100px;
    position: absolute;
    translate: 50% 80%;
    background-color: yellow;
    


}*/
 #cookie-2 {
     display: flex;
     margin: auto;
     width: 100%;
     /* left: 10%; */
     justify-content: space-between;

     height: 300px;
     /* position: absolute; */
     display: none;

     /* border: 2px solid black; */
     /* top: 22%; */
 }

 #cookie-1-half,
 #cookie-2-half {
     height: 300px;
     /* border: 2px solid black; */



 }

 #cookie-2-half {
     transform: rotateZ(10deg);
 }

 #message {

     width: 30%;
     border: 5px solid #a9f0ec;
     max-height: fit-content;
     font-size: 1.2em;
     font-weight: 500;
     text-align: justify;
     position: absolute;
     bottom: 55%;
     left: 29.5%;
     overflow: hidden;
     /* height: max-content; */
     text-align: center;
     /* align-self: center; */
     margin: 0% auto;
     z-index: -1;
    
     padding: 0em 4em;
     display: none;
     background-color: #a9f0ec;
     font-family: "Dancing Script", cursive;
 }


 /* .message-open{
    width: 500px;
    max-height: 50px;
    z-index: 2;
} */

 #button-id {
     margin: auto;
     width: 30%;
 }

 #reveal-button {

     text-align: center;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.199);
     font-size: 1.3em;
     border: 1px solid transparent;
     padding: 0.7em;

 }


 /* Media Queries for responsiveness */
 @media (max-width: 1300px) {
     #message {
         font-size: 1em;
         padding: 0.5em 1em;
         left: 35%;
         bottom: 55%;

     }

     #cookie-2 {
         width: 80%;
     }

     #reveal-button {
         font-size: 1.1em;
         padding: 0.5em 0.8em;
     }

 }
 @media (max-width: 1000px) {
     #message {
         font-size: 1em;
         padding: 0.5em 1em;
         left: 30%;
         bottom: 65%;
         width: 30%;

     }

     #cookie-2 {
         width: 70%;
     }

     #reveal-button {
         font-size: 1.1em;
         padding: 0.5em 0.8em;
     }

 }
 @media (max-width: 768px) {
     #message {
         font-size: 1em;
         /* padding: 0.5em 1em; */
         width: 23em;
         left: 33%;
        bottom: 63%;

     }
     #cookie-2{
        width: 70%;
     }

     #reveal-button {
         font-size: 1.1em;
         padding: 0.5em 0.8em;
     }
       
 }

 @media (max-width: 480px) {
     #message {
         font-size: 0.9em;
         padding: 0.5em;
     }
     #cookie-2{
        width: 50%;
        
     }
        #cookie-1-half,#cookie-2-half{
            height: 14em;
            
        }

     #reveal-button {
         font-size: 1em;
         padding: 0.5em 0.7em;
     }

        
 }